/* #product-container{
    padding: 30px;
}

 img{
    height: 400px;
    object-fit: cover;
} */
.cart-btn{
    padding: 3px 8px;
    font-size: 28px;
    color: #c7af7a;
    /* background: rgba(231, 232, 231, 0.1); */
    border: 0px solid transparent;
    background: transparent;
    cursor: pointer;
    position: relative;

}
.cart-btn:hover{
    border: 0px solid transparent;

}